{
	"presets": [
		"@babel/typescript",
		["@babel/react", {"runtime": "automatic"}],
		[
			"@babel/preset-env",
			{
				"targets": {
					"node": "current"
				}
			}
		]
	],
	"plugins": [
		[
			"@babel/plugin-proposal-decorators",
			{
				"legacy": true
			}
		]
	]
}
