{
	"presets": [
		"@babel/typescript",
		"@babel/react",
		[
			"@babel/preset-env",
			{
				"targets": {
					"node": "current"
				}
			}
		]
	],
	"plugins": [
		[
			"@babel/plugin-proposal-decorators",
			{
				"legacy": true
			}
		],
		"@babel/proposal-class-properties",
		"@babel/proposal-object-rest-spread"
	]
}
