files:
  "/etc/nginx/conf.d/proxy.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
       client_max_body_size 500M;
  "/etc/httpd/conf.d/cors.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      <Location "/">
        Header set Access-Control-Allow-Origin: *
        Header set Access-Control-Allow-Methods: "POST, GET, PUT, DELETE, OPTIONS"
        Header add Access-Control-Allow-Headers: "Authorization, Content-Type, Accept"
        Header set Access-Control-Allow-Credentials: true

        SetOutputFilter DEFLATE
      </Location>
  "/etc/nginx/conf.d/websockets.conf":
    content: |
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "upgrade";
