@import '../../../styles/config';

.#{$namespace}-empty {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	img {
		margin-top: 30px;
		width: 90px;
		opacity: 0.4;
		height: auto;
	}

	p {
		margin-top: 15px;
		opacity: 0.6;
		color: rgb(var(--text-color));
		font-size: 0.9rem;
	}
}
