@import '../../../styles/config';

.#{$namespace}-overall-stats {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
	grid-auto-rows: 350px;
	grid-column-gap: 30px;
	grid-row-gap: 30px;
}
