@import '../../../styles/config';

.#{$namespace}-common-horizontal-nav {
	&__body {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		> *:not(:last-of-type) {
			margin-right: 13px;
		}
	}
}
