@import '../../../../styles/config';
@import '../generic_input/GenericInput';

.#{$namespace}-common-textarea {
	width: 100%;

	textarea {
		min-height: 100px;
		max-height: 400px;
		line-height: 1.4rem;
		resize: vertical;
		@include genericInputStyling;
	}

	&__max-length {
		opacity: 0.5;
		color: rgb(var(--text-color));
		font-size: 0.85rem;
		font-weight: 500;
		font-family: $defaultFontFamily;

		&--over {
			opacity: 1;
			color: $primaryRed;
		}
	}

	&--autoSize {
		resize: none;
	}
}
