@import '../../../styles/config';

.#{$namespace}-common-switch {
	$switchSize: 25px;
	$switchSizeSmall: 15px;

	background-color: rgb(var(--text-color), 0.15) !important;
	border-radius: 20px;
	position: relative;

	width: calc(#{$switchSize} * 2.4);
	height: calc(#{$switchSize} + 5px);

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	span {
		position: absolute;
		display: table;
		height: $switchSize;
		width: $switchSize;
		background-color: white;
		border-radius: 50px;
		top: 50%;
		left: 4px;
		right: 0;
		transform: translate(0, -50%);
		box-shadow: 0 2px 10px rgba(black, 0.15);
	}

	&--small {
		width: calc(#{$switchSizeSmall} * 2.6);
		height: calc(#{$switchSizeSmall} + 5px);

		span {
			height: $switchSizeSmall;
			width: $switchSizeSmall;
		}
	}

	&--on {
		background-color: rgb(var(--primary-color)) !important;

		span {
			right: 3px;
			left: unset;
		}
	}
}
