@import '../../styles/config';

body,
html {
	background-color: rgb(var(--background-color));
}

.cd {
	width: 100%;
	height: 100%;
	background-color: rgb(var(--background-color));

	&-loading {
		width: 100vw;
		height: 100vh;
		background-color: rgb(var(--background-color));
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 2rem;
		color: white;
		position: absolute;
		left: 0;
		top: 0;
	}

	&-topbar {
		position: fixed;
		z-index: 10000000000;
		left: 0;
		top: 0;
		width: 100%;
		height: 30px;
		-webkit-user-select: none;
		-webkit-app-region: drag;
	}

	button {
		-webkit-app-region: no-drag;
	}

	&-module {
		background-color: rgb(var(--module-color));
		border-radius: 15px;
		padding: 13px;
		overflow: visible;
		box-sizing: border-box;
		width: 100%;

		&--none {
			background-color: transparent;
		}
	}
}

.Toastify {
	z-index: 10000000;
}

.Toastify__toast {
	background-color: rgb(var(--module-color));
	z-index: 1000000000;
	border-radius: 8px;
	box-shadow: 0 3px 25px rgba(black, 0.1);

	div {
		font-weight: 600 !important;
		color: white !important;
		font-size: 1rem;
	}

	&-body {
		z-index: 99999999999;
		font-size: 0.9rem;
		position: relative;
		top: -2px;
	}

	&--success {
		background-color: $successColor !important;
	}

	&--error {
		background-color: $errorColor !important;
	}

	&--warning {
		background-color: $warningColor !important;
	}
}

.app-html {
	::-webkit-scrollbar {
		width: 10px;
		background-color: transparent !important;
	}

	::-webkit-scrollbar-track {
		background: rgba(var(--theme-background-opposite), 0.1);
	}

	::-webkit-scrollbar-thumb {
		transition: all 0.1s ease-in-out;
		border-radius: 5px;
		background: rgba(var(--primary-color), 0.6);

		&:hover {
			background: rgb(var(--primary-color), 1);
		}
	}
}

.cd-table {
	width: 100%;
	border-collapse: separate;
	border: 1px solid rgb(var(--button-color));
	border-radius: 4px;

	td,
	th {
		border-left: 1px solid rgb(var(--button-color));
		border-top: 1px solid rgb(var(--button-color));
	}

	td:first-child,
	th:first-child {
		border-left: none;
	}

	th {
		border-top: none;
		font-weight: 600;
		font-size: 1rem;
		color: rgb(var(--text-color)) !important;
	}

	td,
	th {
		padding: 7px 10px;
		text-align: left;
		box-sizing: border-box;
		color: rgb(var(--text-color));
		opacity: 0.9;
		font-size: 0.9rem;
	}

	&__actions {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;

		> * {
			margin-left: 7px;
		}
	}
}
