@import '../../../styles/config';

.#{$namespace}-legal {
	width: 95%;
	margin: auto;
	max-width: 700px;
	padding: 200px 0 100px;
	background-color: white;

	h1 {
		font-weight: bold;
		font-size: 2rem;
		color: #444;
		margin-bottom: 15px;
	}

	h2 {
		color: #444;
		font-size: 1.3rem;
		margin-top: 20px;
		margin-bottom: 10px;
		text-transform: capitalize;
		font-weight: bold;
	}

	strong {
		color: #444;
		font-weight: bold;
	}

	p,
	li {
		margin-bottom: 15px;
		line-height: 1.4rem;
		opacity: 0.9;
		color: #444;
	}

	ul {
		list-style: disc;
		padding-left: 15px;
		li {
			margin-bottom: 10px;
		}

		li:not(:last-of-type) {
		}
	}

	a {
		color: #444;
		opacity: 0.8;
		text-decoration: underline;
	}
}
